html {
  font-family: "Noto Sans", sans-serif;
}

footer {
  color: #e2e2e2;
}

nav ul li a {
  color: #b64c6e;
  text-decoration: none;
}

nav ul li a:hover {
  color: #860927;
}

a {
  display: inline-block;
  border-bottom: solid 2px #d89fb0;
}

.btn {
  color: #b64c6e;
  border-color: #d89fb0;
  border-width: 2px;
}

.btn-ghost {
  color: #b64c6e;

}

.btn-ghost:hover {
  border-color: #860927;
  color: #860927;
}

hr {
  border-color: #e2e2e2;
}

i {
  font-family: "Noto Sans Japanese", sans-serif;
}

.logo {
  text-align: center;
}

nav {
  text-align: center;
}

@media only screen and (min-width: 60em) {

  header {
    text-align: right;
  }

  .logo {
    text-align: left;
  }

  nav {
    text-align: right;
  }

}
