html {
  font-family: "Noto Sans Japanese", sans-serif;
  font-family: "Noto Sans", sans-serif;
}

a {
  color: #b64c6e;
}

hr {
  border-color: #e2e2e2;
}

.ja-par {
  padding-left: 2.5em;
  padding-right: 2.5em;
}

.eng-par {
  padding-left: 4em;
  padding-right: 4em;
}

li a {
  text-decoration: none;
  border-bottom: 1px solid #b64c6e;
}

.btn-ghost {
  border-color: #d89fb0;
}

.btn:hover {
  color: #860927;
  background-color: #d89fb0;
  border-color: #860927;
}

.btn {
  color: #b64c6e;
}

.copyright {
  color: #e2e2e2;
}
